{% extends 'index.html' %}
{% load i18n %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}



{% block left-col %}

        {{ block.super }}
{% endblock %}
{% block center-col %}


  
<form class="form-horizontal	" action="" enctype="multipart/form-data" method="post">

  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Edit Profile" %}</legend>

    
    {% include "form_snippet.html" %}
  </fieldset>
  <input type="submit" class="btn btn-primary" value="{% trans "Save changes" %}" />
</form>
{% endblock %}
