
{% extends 'index.html' %}


{% block center-col%}
<center>
<img src="/static/images/nosok.png" width=400 />

</center>
{% endblock  %}

{% load i18n %}


{% block title %}{% trans "Signin" %}{% endblock %}

    {%block right-col%}
<form class="horizontal-form" action="" method="post" style="
    padding-top: 30px;">

  {% csrf_token %}

    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'remember_me' %}
   <div style<div class="ym-fbox-check">
   {{ field }} 
  {{ field.label }} 
  </div>
    {% else %}
    <p>
    {{ field.label_tag }} 
    {{ field }}
    </p>
    {% endif %}
    {% endfor %}
    
  <input type="submit" class="btn btn-primary btn-large" value="{% trans "Signin" %}" />
  <p class="forgot-password"><a href="{% url userena_password_reset %}" title="{% trans "Forgot your password?" %}">{% trans "Forgot your password?" %}</a></p>
</form>
{% endblock %}
